<h1>Instruções de Uso</h1>
<br>
<h2>Acesso</h2>
<h4>Sem estar logado no sistema:</h4>
<ul>
	<li>Você pode ler todo o conteúdo presente nesse Playbook;</li>
	<li>Você pode usar a barra de pesquisa para encontrar o assunto que deseja;</li>
</ul>

<h4>Estando Logado no sistema:</h4>
<ul>
	<li>Você pode ler todo o conteúdo presente nesse Playbook;</li>
	<li>Você pode usar a barra de pesquisa para encontrar o assunto que deseja;</li>
	<li>Você pode criar tópicos sobre determinados assuntos;</li>
	<li>Você pode criar subtópicos dentro desses tópicos para poder especificar melhor cada assunto;</li>
	<li>Você pode editar um tópico;</li>
	<li>Você pode apagar um tópico, porém assim você apagará automaticamente os seus respectivos subtópicos;</li>
	<li>Você pode editar um subtópico;</li>
	<li>Você pode apagar um subtópico;</li>
	<li>Você pode escrever os textos utilizando o padrão da linguagem de marcação <a target="_blank" href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">Markdown</a>;</li>
</ul>

