<div class="text-center">
	<%= image_tag(
		"logo.png", 
		:alt => "logo", 
		:class => "img-fluid mx-auto",
		:style => "height: 350px;"
	) %>
	<br>
	<br>
	<h1>Bem-Vindo ao Playbook</h1>
	<hr />
	<br>
	<p>Em caso de dúvidas, acesse as pastas e verá que o sistema possui uma pasta de documentação que explica bem como funciona o sistema.</p>
	<p>Em caso de problemas no sistema, basta falar com os superiores do Centeias que eles entraram em contato com os desenvolvedores para que seja consertado.</p>
</div>
