/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require font-awesome
 *= require_self
 */
.content-margintop {
	margin-top: 2em;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

@media (max-width: 700px) {
	.content-margintop {
		width: 100%;
	}
}

.article-link {
	font-weight: bold !important;
	color: white !important;
}

/*.markdown-text {
	background-color: #eee;
	border-radius: 10px;
	border: 2px solid #aaa;
	padding: 1em;
	margin: 2em 0;
}*/

.article-icons {
	float: right;
	font-size: 1.5em;
}

.close-icon {
	color: #dc3545;
}

.pencil-icon {
	color: #28a745;
}

.title-icon {
	font-size: 20px;
	vertical-align: middle;
}