<p>Olá, <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Estamos te contatando para notifica-lo que seu email está sendo mudado <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Estamos te contatando para notifica-lo que seu email mudou para <%= @resource.email %>.</p>
<% end %>
