<p>Olá, <%= @resource.email %>!</p>

<p>Alguém requisitou o link para mudança de senha. Se foi você quem requisitou, basta usar o link abaixo.</p>

<p><%= link_to 'Mudar minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se não foi você quem requisitou, favor ignorar esse email..</p>
<p>Sua senha não mudará até que o link acima seja acessado e for fornecida uma senha válida para a mudança.</p>
